/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: 0;
  padding: 0 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

window#waybar {
  background-color: transparent;
}

window#waybar.empty #window {
  background-color: transparent;
  border: 0;
}

#window,
#bluetooth,
#clock,
#custom-power,
#custom-music,
#network,
#pulseaudio,
#temperature,
#cpu,
#memory,
#power-profiles-daemon,
#custom-notification {
  background-color: #ffffff;
  color: #ff895e;
  border-radius: 8px;
  margin: 0px 4px;
  padding: 4px 12px;
}

/* -----------------------------------------------------------------------------
   * Module styles
   * -------------------------------------------------------------------------- */

#network.disabled {
  background-color: rgb(230, 106, 111);
  /* border-bottom: 2px solid #bf616a; */
}

#network.disconnected {
  background-color: rgb(230, 106, 111);
  /* border-bottom: 2px solid #bf616a; */
}
