/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Imports
 * -------------------------------------------------------------------------- */

@import "../../.cache/wal/colors-waybar.css";

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  color: @lavender;
  border: 0;
  padding: 0 0;
  font-family: "JetBrainsMono Nerd Font";
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: "Hack Nerd Font"; */
  font-size: 10px;
  font-weight: normal;
  /* padding-bottom:4px;
      padding-top: 4px; */
  transition: all 0.2s ease-in-out;
}

window#waybar {
  /* border-bottom: 4px solid shade(@base, 1.1); */
  /* border-radius: 10px; */
  /* background:#2d2a2e; */
  /* background-color: rgba(36, 39, 58, 0.85); */
  /* background-color: rgba(12, 12, 18, 0.8); */
  background-color: transparent;
}

#workspaces button {
  color: @color9;
  border-radius: 50%;
  /* background-color: @base; */
  padding: 2px 6px 2px 0px;
}

#workspaces button:hover * {
  color: @color9;
}

#workspaces button:hover {
  color: @color9;
  box-shadow: none;
  /* Remove predefined box-shadow */
  text-shadow: none;
  /* Remove predefined text-shadow */
  border: 0px;
  background: none;
}

#workspaces * {
  color: @color6;
}

#workspaces {
  border-radius: 0px 0px 0px 15px;
  background-color: @background;
  padding-left: 7px;
}

#workspaces button.focused {
  color: @color6;
  border-radius: 20px;
}

#workspaces button.focused * {
  color: @color6;
}

#bluetooth,
#clock,
#custom-power,
#window,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-pacman,
#custom-notification,
#custom-music,
#custon-notification {
  color: @color6;
  padding: 0px 8px;
  background-color: @background;
}

/* -----------------------------------------------------------------------------
   * Module styles
   * -------------------------------------------------------------------------- */

#backlight {
  color: @yellow;
  /* border-bottom: 2px solid @yellow; */
  border-radius: 10px 0 0 10px;
}

#battery {
  color: #d8dee9;
  /* border-bottom: 2px solid #d8dee9; */
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

#battery.charging {
  color: #81a1c1;
  /* border-bottom: 2px solid #81a1c1; */
}

@keyframes blink {
  to {
    color: @red;
    /* border-bottom: 2px solid @red; */
  }
}

#battery.critical:not(.charging) {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  color: @color4;
  /* border-bottom: 2px solid @green; */
}

#bluetooth {
  color: @color5;
}

#network.disabled {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
}

#network.disconnected {
  color: #bf616a;
  /* border-bottom: 2px solid #bf616a; */
}

#pulseaudio.muted {
  color: #3b4252;
  /* border-bottom: 2px solid #3b4252; */
}

#temperature {
  color: @teal;
  /* border-bottom: 2px solid @teal; */
  border-radius: 10px 0 0 10px;
}

#temperature.critical {
  color: @red;
  /* border-bottom: 2px solid @red; */
}

#custom-power {
  border-radius: 0px 0px 15px 0px;
  padding-right: 16px;
}
